$font__main: "Oswald", sans-serif;
$font__content: "Fira Sans", sans-serif;

$black: #262626;
$yellow: #EFE33E;
$yellow--darker: #D4CA39;

$gray: #E7EEF5;
$gray--darker: #949494;
$gray--lighter: #FAFBFC;

$pink: #E17F73;
$blue: #80D8FE;
$green: #6FCEAD;
$green--lighter: #CEEEE3;