@import "var";

body {
  background-color: white;
  font-family: $font__content;
  padding-bottom: 20rem;
}

.navbar {
  background-color: $gray;
  color: $black;
  font-family: $font__main;
  padding: 0 1rem;

  .nav-item {
    padding: 1rem;
    position: relative;

    &.show,
    &:hover {
      background-color: white;
      box-shadow: 2px 0 15px -4px rgba(31, 73, 125, 0.8),
        -1px 0 30px -4px rgba(31, 73, 125, 0.8);
    }
  }

  .nav-link {
    font-variant: small-caps;
    font-size: 1.75rem;
    color: $black;

    &:hover {
      color: $black;
    }
  }

  svg {
    cursor: pointer;
    margin: 0 1rem;
  }

  .dropdown-menu {
    width: 100%;
    border: 0;
    margin: 0;
    box-shadow: 0 -8px 0px 0px white, 2px 0 13px -4px rgba(31, 73, 125, 0.8),
      -1px 0 17px -4px rgba(31, 73, 125, 0.8);
    padding: 0;
  }

  .dropdown-item {
    white-space: initial;
    font-size: 1.5rem;
    font-variant: small-caps;
    display: flex;
    align-items: center;

    &:last-child {
      padding-bottom: 0.5rem;
    }

    &:hover {
      background-color: $yellow;
    }
  }

  .dropdown-menu.dropdown-sub-menu {
    left: 100%;
    top: 0;
    box-shadow: none;
    background-color: $yellow;
    border-radius: 0;

    .dropdown-item {
      &:hover {
        background-color: $yellow--darker;
      }
    }
  }

  @media (max-width: 1025px) {
    .nav-link {
      font-size: 1.25rem;
      line-height: 1rem;
    }
  }
}

.banner {
  background-color: $gray--lighter;

  h1 {
    font-variant: small-caps;
    font-family: "Oswald";
    background-color: $yellow;
    padding: 0.75rem 1rem;
    display: inline-block;
    margin-bottom: 0;
  }

  .breadcrumb-container {
    height: 100%;
  }

  .btn-filter {
    border-radius: 2px;
    border: 2px solid $gray;
    padding: 0.75rem 2rem 0.75rem 4rem;
    font-weight: bold;

    &::after {
      margin-left: 3rem;
    }
  }

  .breadcrumb {
    background-color: transparent;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;

    a {
      color: $black;

      &:hover {
        color: $yellow;
      }
    }

    .active {
      font-weight: bold;
      color: $yellow--darker;

      &::before {
        font-weight: initial;
      }
    }
  }
}

/* MAIN */
h2 {
  font-family: "Oswald";
  font-variant: small-caps;
  background: linear-gradient($yellow, $yellow) bottom left no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-size: 10rem 4px;
  margin-bottom: 2rem;
}

.table {
  th {
    font-variant: small-caps;
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $gray;
}

.table-striped tbody tr:hover {
  background-color: rgba($green, 0.3);
}

tbody {
  th {
    font-weight: normal;
    font-size: 1rem;
  }
}

/* COMPOSANTS */

.btn {
  padding: 1rem 2rem;
  border: 0;

  &-primary {
    background-color: $yellow;
    color: $black;

    &:hover {
      background-color: $yellow--darker;
      color: $black;
    }
  }

  &-secondary {
    background-color: $gray;
    color: $black;

    &:hover {
      color: $black;
      background-color: darken($gray, 10%);
    }
  }

  &-danger {
    background-color: $pink;

    &:hover {
      background-color: darken($pink, 10%);
    }
  }

  &-info {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  &-success {
    background-color: $green;

    &:hover {
      background-color: darken($green, 10%);
    }
  }

  &-link {
    color: $yellow--darker;

    &:hover {
      color: $yellow--darker;
      text-decoration: underline;
    }
  }

  &-filter {
    border: 2px solid $gray;
    font-weight: initial;

    &:hover {
      background-color: $gray;
      border: 2px solid $gray;
      color: $black;
    }

    &:focus {
      background-color: $gray--darker;
    }
  }
}

// custom radio

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: $green;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

// custom checkbox

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid $gray;
  }

  // Box hover
  &:hover + label:before {
    background: $green;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: darken($green, 5%);
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.form-control {
  border: 3px solid $gray;
  border-radius: 0;
}

.modal {
  .dropdown {
    width: 100%;

    button {
      text-align: left;
      width: 100%;
      border: 2px solid $gray;
      border-radius: 0;
      background-color: white;
      color: $black;
      padding-left: 1rem;
    }

    &-toggle::after {
      position: absolute;
      right: 2rem;
      top: 50%;
    }

    &-menu {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    border: 2px solid $gray;
  }
}

/* MISC */

.chevron-down {
  cursor: pointer;
}

.dotdotdot {
  width: 2rem;
  cursor: pointer;
  height: 2rem;

  .dropdown-menu {
    top: -3rem !important;
    left: -4rem !important;
    position: relative;
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);

    .dropdown-divider {
      border: 1px dashed $gray;
    }
  }
}
