body {
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 20rem;
}

.navbar {
  background-color: #E7EEF5;
  color: #262626;
  font-family: "Oswald", sans-serif;
  padding: 0 1rem;
}

.navbar .nav-item {
  padding: 1rem;
  position: relative;
}

.navbar .nav-item.show, .navbar .nav-item:hover {
  background-color: white;
  -webkit-box-shadow: 2px 0 15px -4px rgba(31, 73, 125, 0.8), -1px 0 30px -4px rgba(31, 73, 125, 0.8);
          box-shadow: 2px 0 15px -4px rgba(31, 73, 125, 0.8), -1px 0 30px -4px rgba(31, 73, 125, 0.8);
}

.navbar .nav-link {
  font-variant: small-caps;
  font-size: 1.75rem;
  color: #262626;
}

.navbar .nav-link:hover {
  color: #262626;
}

.navbar svg {
  cursor: pointer;
  margin: 0 1rem;
}

.navbar .dropdown-menu {
  width: 100%;
  border: 0;
  margin: 0;
  -webkit-box-shadow: 0 -8px 0px 0px white, 2px 0 13px -4px rgba(31, 73, 125, 0.8), -1px 0 17px -4px rgba(31, 73, 125, 0.8);
          box-shadow: 0 -8px 0px 0px white, 2px 0 13px -4px rgba(31, 73, 125, 0.8), -1px 0 17px -4px rgba(31, 73, 125, 0.8);
  padding: 0;
}

.navbar .dropdown-item {
  white-space: initial;
  font-size: 1.5rem;
  font-variant: small-caps;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .dropdown-item:last-child {
  padding-bottom: 0.5rem;
}

.navbar .dropdown-item:hover {
  background-color: #EFE33E;
}

.navbar .dropdown-menu.dropdown-sub-menu {
  left: 100%;
  top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #EFE33E;
  border-radius: 0;
}

.navbar .dropdown-menu.dropdown-sub-menu .dropdown-item:hover {
  background-color: #D4CA39;
}

@media (max-width: 1025px) {
  .navbar .nav-link {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

.banner {
  background-color: #FAFBFC;
}

.banner h1 {
  font-variant: small-caps;
  font-family: "Oswald";
  background-color: #EFE33E;
  padding: 0.75rem 1rem;
  display: inline-block;
  margin-bottom: 0;
}

.banner .breadcrumb-container {
  height: 100%;
}

.banner .btn-filter {
  border-radius: 2px;
  border: 2px solid #E7EEF5;
  padding: 0.75rem 2rem 0.75rem 4rem;
  font-weight: bold;
}

.banner .btn-filter::after {
  margin-left: 3rem;
}

.banner .breadcrumb {
  background-color: transparent;
  height: 100%;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .breadcrumb a {
  color: #262626;
}

.banner .breadcrumb a:hover {
  color: #EFE33E;
}

.banner .breadcrumb .active {
  font-weight: bold;
  color: #D4CA39;
}

.banner .breadcrumb .active::before {
  font-weight: initial;
}

/* MAIN */
h2 {
  font-family: "Oswald";
  font-variant: small-caps;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFE33E), to(#EFE33E)) bottom left no-repeat;
  background: linear-gradient(#EFE33E, #EFE33E) bottom left no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-size: 10rem 4px;
  margin-bottom: 2rem;
}

.table th {
  font-variant: small-caps;
  font-size: 1.25rem;
  line-height: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #E7EEF5;
}

.table-striped tbody tr:hover {
  background-color: rgba(111, 206, 173, 0.3);
}

tbody th {
  font-weight: normal;
  font-size: 1rem;
}

/* COMPOSANTS */
.btn {
  padding: 1rem 2rem;
  border: 0;
}

.btn-primary {
  background-color: #EFE33E;
  color: #262626;
}

.btn-primary:hover {
  background-color: #D4CA39;
  color: #262626;
}

.btn-secondary {
  background-color: #E7EEF5;
  color: #262626;
}

.btn-secondary:hover {
  color: #262626;
  background-color: #c3d5e6;
}

.btn-danger {
  background-color: #E17F73;
}

.btn-danger:hover {
  background-color: #d85949;
}

.btn-info {
  background-color: #80D8FE;
}

.btn-info:hover {
  background-color: #4dc8fe;
}

.btn-success {
  background-color: #6FCEAD;
}

.btn-success:hover {
  background-color: #49c197;
}

.btn-link {
  color: #D4CA39;
}

.btn-link:hover {
  color: #D4CA39;
  text-decoration: underline;
}

.btn-filter {
  border: 2px solid #E7EEF5;
  font-weight: initial;
}

.btn-filter:hover {
  background-color: #E7EEF5;
  border: 2px solid #E7EEF5;
  color: #262626;
}

.btn-filter:focus {
  background-color: #949494;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #6FCEAD;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #E7EEF5;
}

.styled-checkbox:hover + label:before {
  background: #6FCEAD;
}

.styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #5cc8a2;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-control {
  border: 3px solid #E7EEF5;
  border-radius: 0;
}

.modal .dropdown {
  width: 100%;
}

.modal .dropdown button {
  text-align: left;
  width: 100%;
  border: 2px solid #E7EEF5;
  border-radius: 0;
  background-color: white;
  color: #262626;
  padding-left: 1rem;
}

.modal .dropdown-toggle::after {
  position: absolute;
  right: 2rem;
  top: 50%;
}

.modal .dropdown-menu {
  width: 100%;
}

.modal textarea {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  border: 2px solid #E7EEF5;
}

/* MISC */
.chevron-down {
  cursor: pointer;
}

.dotdotdot {
  width: 2rem;
  cursor: pointer;
  height: 2rem;
}

.dotdotdot .dropdown-menu {
  top: -3rem !important;
  left: -4rem !important;
  position: relative;
  -webkit-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
}

.dotdotdot .dropdown-menu .dropdown-divider {
  border: 1px dashed #E7EEF5;
}
/*# sourceMappingURL=style.css.map */